<mat-card class="card">
  <mat-card-header class="cardHeader" [routerLink]="['/movie', movie.id]">
    <mat-card-title>{{ movie.title }}</mat-card-title>
    <mat-card-subtitle>{{
      movie.release_date.substring(0, 4)
    }}</mat-card-subtitle>
  </mat-card-header>
  <div *ngIf="!imageLoaded" style="text-align: -webkit-center">
    <mat-spinner></mat-spinner>
  </div>
  <div>
    <img
      [routerLink]="['/movie', movie.id]"
      mat-card-image
      [src]="moviesAPI.getCurrentMoviePoster(movie.poster_path)"
      alt="movietitle"
      class="matImage"
      (load)="onImageLoad()"
    />
  </div>

  <div class="circle">{{ movie.vote_average }}</div>
  <mat-card-content>
    <div [ngClass]="{ readMoreContainer: readMoreEnabled }">
      {{ movie.overview }}
    </div>
    <p (click)="readMore()" style="color: #69f0ae" #readMoreField>
      ...Read More
    </p>
  </mat-card-content>
</mat-card>
