<mat-card class="card">
  <mat-card-header class="cardHeader">
    <mat-card-title>The Shawshank Redemption</mat-card-title>
    <mat-card-subtitle>1994</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://image.tmdb.org/t/p/original/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg"
    alt="movietitle"
    class="matImage"
  />
  <div class="circle">9.5</div>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
