.movieContainer {
  text-align: center;
  width: 90%;
  margin: 40px auto auto auto;

  .mainImg {
    width: 70%;
    max-height: 60vh;
  }
  h1 {
    font-size: 2.5em;
    font-family: "Courier New", Courier, monospace;
    color: #69f0ae;
  }
  h3 {
    font-size: 1.5em;
    font-family: "Courier New", Courier, monospace;
  }

  .hyperLink {
    text-decoration: none;
    font-size: large;
    color: #69f0ae;
  }

  .details {
    width: 100%;
    justify-content: center;
    text-align: -webkit-center;

    div {
      width: fit-content;
      text-align: left;
    }
  }

  .genre {
    display: flex;
    justify-content: space-evenly;
    h4 {
      font-size: 1.2em;
      font-family: "Courier New", Courier, monospace;
      border: 3px solid #69f0ae;
      border-radius: 10px;
    }
  }

  .productionCompanies {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 60px;
    div {
      align-self: center;
    }
    img {
      width: 150px;
      height: 120px;
      margin: 5px;
    }
  }

  .productionCountries {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 60px;
    img {
      width: 100px;
    }
  }

  .spokenLanguages {
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  .collectionImage {
    width: 50%;
    max-height: 70vh;
  }
}
